### Name: Praanesh Balakrishnan Nair
### Regno: BL.EN.U4AIE23132

In [11]:
import mysql.connector

1. Write a python program to create a database known as student_dt and Include table student with details such as studname, regno, sem, grade. Perform various operations:
    - a. Insert 5 values into the table.
    - b. Select all values from the table.
    - c. select all values from the student table for the students whose name starting with 'a'.
    - d. update the semester for the student with regno =111 to 3rd sem
    - e. delete the details student with regno=222

In [25]:
mydb = mysql.connector.connect(host="localhost",  user="root",  password="YourSQL") 
# print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE student_dt")
# mycursor.execute("DROP DATABASE student_dt")

In [26]:
mycursor.execute("CREATE TABLE customers (studname VARCHAR(50), regno INT(5), sem INT(2)), grade VARCHAR(2)")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ', grade VARCHAR(2)' at line 1